<div class="container mt-4 opacity-75">
    <div class="card">
        <div class="card-body">
            <span class="h3">Registros de Empleados</span>
            <button class="float-end btn btn-dark btn-lg" routerLink="/crate-empleado">Agregar</button>
            <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
            <table  *ngIf= "empleados.length > 0 " class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th >Nombre</th>
                        <th >Apellido</th>
                        <th >Documento</th>
                        <th >Salario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.documento}}</td>
                        <td>{{empleado.salario | currency}}</td>
                        <td> 
                            <button style="margin-right: 15px;" class="btn btn-info btn-sm" [routerLink] ="['/editEmpleado/', empleado.id]">Editar</button>
                            <button class="btn btn-danger btn-sm" (click) ="eliminarEmpleado(empleado.id)">Eliminar</button>
                        </td>
                    
                    </tbody>
            </table>
        </div>
    </div>   
</div>
